.gb-header{background: url(../images/header-bg.jpg) center;background-size:cover;height: 130px;padding: 22px 2% 0px;position: absolute;width: 100%;right: 0px;top:0px;}
.gb-packUp-leftNav{color: #fff;line-height: 24px;cursor: pointer;}
.gb-packUp-leftNav i{font-size: 19px;margin-right: 10px;}

.gb-header-operation{position: absolute;right: 2%;top: 22px;color: #fff;line-height: 22px;}
.gb-header-operation .layui-btn{padding:0px 20px;}
.gb-header-operation .name{margin-left: 25px}
.gb-header-operation .succession{margin-left: 25px}
.gb-header-operation .exit{margin-left: 25px}
.gb-header-operation .iconfont{margin-right: 5px;}

/*tab*/
.gb-tab{position: absolute;bottom: 0px;left: 0px;width: 100%;padding: 0px 2%;}
.gb-tab .swiper-slide{padding:15px 0px;color: #fff;cursor: pointer;}
.gb-tab .swiper-slide.cur{background: #fff;color: #4579d8;border-radius: 5px 5px 0px 0px;}
.gb-tab .swiper-slide a{position: relative;display: block;border-right: 2px solid #7da1e4;padding:0px 40px;}
/*.gb-tab .swiper-slide:last-child a{border-right:none;}*/
.gb-tab .swiper-slide.cur a{border-right: none;}
.gb-tab .swiper-slide a .iconfont{position: absolute;right: 20px;top: -7px;}





