.gb-left-nav{width:230px;background: #252d3a;min-height: 100%;float: left;}
.gb-logo{display: block;}
.gb-left-nav-ul li{color: #8c939e;font-size: 14px;text-align: center;}
.gb-left-nav-ul li.cur span{border-left-color: #4579d8;}
.gb-left-nav-ul li.cur .nav-tit{color: #fff;}
.gb-left-nav-ul a{display: block;}
.gb-left-nav-ul em{position: relative;display: inline-block;width: 26%;margin: auto;text-align: left;}
.gb-left-nav-ul .nav-tit{padding: 20px 0px;border-bottom: 1px solid #384252;}
.gb-left-nav-ul .nav-tit span{display: block;border-left:4px solid #252d3a;position: relative;}
.gb-left-nav-ul .nav-tit span em i{font-size: 17px;position: absolute;left: -40px;top: 0px;}
.gb-left-nav-ul .nav-tit .arrow{position: absolute;right: 20px;top: 2px;}
.gb-left-nav-ul .left-sub-nav{text-align: center;background: #2b3443;display: none;}
.gb-left-nav-ul .left-sub-nav a{border-bottom: 1px solid #313c4d;padding: 20px 0px;}
.gb-left-nav-ul .left-sub-nav a.cur{color: #fff;}

















