*{margin: 0px;padding: 0px;}
html,body{width: 100%;height: 100%;-webkit-overflow-scrolling: touch;}
body {font-family:"Microsoft YaHei", Helvetica Neue, Helvetica, PingFang SC, \5FAE\8F6F\96C5\9ED1, Tahoma, Arial, sans-serif;font-size: 14px;}
i,em{font-style: normal;}
img { border: 0 none; width: auto\9; height: auto; max-width: 100%; vertical-align: top; -ms-interpolation-mode: bicubic; }
*, *:before, *:after {box-sizing: border-box;}
.laydate_box,.laydate_box *{-moz-box-sizing: content-box;-webkit-box-sizing: content-box;box-sizing: content-box;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
.i{display: inline-block;vertical-align: middle;}
input{outline: none;}
/*去除iphone中input超大圆角的样式*/
input[type=checkbox]{-webkit-appearance: none;-moz-appearance:none;appearance:none;-ms-appearance:none;}
select::-ms-expand { display: none; }
a, button { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: transparent; outline: none; background: none; text-decoration: none;color: inherit; }
.clearFix:after{ display:block; clear:both; height:0; visibilit:hidden; content:'';}
/* 公共类 */
.gb-wrap{width: 100%;min-width: 1024px;margin: auto;position: relative;height: 100%;overflow: hidden;}
.gb-wrap:after{ display:block; clear:both; height:0; visibilit:hidden; content:'';}
/* 字体 */
/*@font-face{
	font-family: HelveticaPro;
	src: url('../font/HelveticaNeueLTPro-UltLt_0.otf')
}*/









