.gb-form{width:100%;height:100%;}
.newform{width:100%;/* height:100%; */padding:40px 40px 60px;position:relative;}
.newform-tit{font-size:18px;font-weight: bold;color:#5A5E69;padding-bottom:10px;margin-bottom:30px;border-bottom:1px solid #E4E6E5;}
.newform-tit i{margin-right:5px;font-size:16px;}
.form-oneitem{width:100%;background:#fff;border-radius:3px;margin-bottom:20px;border:1px solid #d8d8d8}
.fortit{width:100%;box-shadow:0px -30px 10px #f4f4f4 inset;padding-left:20px;border-bottom:1px solid #d8d8d8;}
.onenumb{float:left;line-height:40px;margin-right:10px;font-size:18px;font-family: impact;color:#585d66;}
.oneitem-tit{color:#585d66;line-height:40px;font-size:14px;font-weight: bold;}
.oneitem-tit small{color:#ff5b57;margin-right:10px;}
.oneitem-cont{width:100%;padding:25px 30px 30px 30px;zoom:1;}
.oneitem-cont:after{content:'';display: block;height:0;clear: both;visibility: hidden;}
.oneitem-cont .oneitem-tit{line-height:28px;}
.oneimp{position:relative;/* width:750px; */width:48.5%;}
.oneimp input{width:100%;height:40px;border:1px solid #d8d8d8;border-radius:5px;padding:0px 60px 0px 20px;}
.oneimp-count{color:#ccc;position:absolute;right:20px;top:0;line-height:40px;}
/*.gb-form .layui-inline{width:100%;}*/
.gb-form .layui-input-inline{/* width:750px; */width:48.5%;}
.gb-form .layui-form-select .layui-input{height:40px;border:1px solid #d8d8d8;border-radius:5px;padding-right:45px;padding-left:20px;}
.itbtn{width:39px;height:38px;border-left:1px solid #d8d8d8;background:#fff;box-shadow:0px -30px 10px #f4f4f4 inset;position:absolute;top:1px;right:1px;z-index: 1;cursor: pointer;border-top-right-radius:5px;border-bottom-right-radius:5px;}
.gb-form .layui-form-select .layui-edge{z-index: 2;right: 16px;margin-top: -2px;border-left:4px solid transparent;border-right:4px solid transparent;border-top: 5px solid #7c8491;}
.gb-form .layui-form-selected .layui-edge{margin-top:-8px;}
.gb-form .layui-form-select dl{border-color:#d8d8d8;border-radius:5px;}
.gb-form .layui-form-select dl dd,.oneitem-cont  .layui-form-select dl dt{padding:0 20px;}
.gb-form .layui-form-select dl dd.layui-select-tips{padding-left:20px!important;}
.gb-form  .layui-form-select dl dd.layui-this{background:#4579d8;}
.itemexp{color:#7c8491;margin-top:12px;font-size:12px;}
.itemexp i{font-size:12px;margin-right:6px;}
.msgrank{zoom:1;margin-top:5px;}
.msgrank:after{content:'';display: block;height:0;clear: both;visibility: hidden;}
.msgrank li{float:left;margin-right:40px;}
.msgrank li:last-child{margin-right:0px;}
.layui-form-radio{margin:0;padding:0;display: none;}
.msgrank li input[type=radio]+label:before{margin-right:8px;}
.msgrank li input{display:none;opacity:0;}
.msgrank li input[type=radio]+label{cursor:pointer;line-height: 1;position: relative;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex; -webkit-box-align: center; -webkit-align-items: center;-ms-flex-align: center; align-items: center;font-size:12px;}
 .msgrank li input[type=radio]+label:before{line-height: 16px; display: inline-block;width: 14px;height: 14px;content: '';color: #fff; border: 1px solid #dcdcdc;background-color: #fff;border-radius: 2px;box-shadow:0px 10px 10px #f4f4f4 inset;}
.msgrank li input[type=radio]:checked+label:before{content:'';color:#fff;border-radius: 3px;text-align: center;border:4px solid #4579d8;}
.msgrank li label img{margin-right:7px;}
.msgcont{float:left;width:48.5%;}
.txtimp{width:100%;position:relative;}
.imparea{width:100%;height:130px;border:1px solid #d8d8d8;border-radius:5px;padding:10px 10px 30px 20px;font-size:14px;color:#ccc;resize:none}
.area-count{position:absolute;right:20px;bottom:15px;color:#ccc;}
.toswitch{width:100px;height:30px;line-height:30px;cursor:pointer;font-size:12px;color:#fff;background:#4579d8;border:0;border-radius:5px;margin-top:12px;}
.toswitch:hover{background:#3c6dc7;}
.filecont{float:right;width:48.5%;}
.filetit{zoom:1;border-bottom:1px solid #d8d8d8;padding-bottom:15px;}
.filetit:after,.filelist li:after{content:'';display: block;height:0;clear: both;visibility: hidden;}
.filetit-one,.filetit-two{float:left;color:#585d66;font-weight: bold;margin-right:41px;position:relative;line-height:19px;}
.filetit-one:after{content:'';width:1px;height:10px;background:#e5e5e5;position:absolute;top:5px;right:-21px;}
.filetit-one i{font-size:18px;margin-right:5px;}
.filetit-two i{font-size:12px;margin-right:5px;}
.filelist{width:100%;}
.filelist li{width:100%;zoom:1;line-height:50px;border-bottom:1px dashed #d8d8d8;}
.filename{float:left;}
.filename i{color:#ffa41f;font-size:24px;float:left;margin-top: 1px;margin-right:2px;}
.filebtn{float:right;}
.filedel-btn,.filepre-btn,.fileconv-btn{width: 44px;height: 22px;line-height: 20px;font-size: 12px;margin-left: 6px;color:#7c8491;background:#fff;border:1px solid #d8d8d8;cursor: pointer;border-radius:2px;box-shadow:0px -10px 10px #f4f4f4 inset;}
.fileconv-btn{border-color:#4579d8;background:#4579d8;box-shadow:0px 0px 0px #4579d8 inset;color:#fff;}
.filedel-btn:hover,.filepre-btn:hover{box-shadow:0px -10px 10px #ddd inset;}
.fileconv-btn:hover{background:#3c6dc7;}
.gb-form .un-confirm{margin-top:30px;}
.predictone{width:48.5%;float:left;}
.predictwo{width:48.5%;float:right;}
.tocreat{width:100%;text-align: center;margin-top:50px;margin-bottom:80px;}
.tocreatbtn{text-align:center;width:160px;height:40px;line-height:40px;color:#fff;font-size:14px;background:#4579d8;border-radius:5px;border:0;cursor: pointer;display: inline-block;}
.tocreatbtn:hover{background:#3c6dc7;color:#fff;}
.warnword{font-size:12px;margin-top:15px;}
.warnword i{font-size:12px;margin-right:5px;}
@media screen and (max-width:1365px){
	.oneimp,.gb-form .layui-input-inline,.msgcont,.filecont{width:80%;}
	.filecont{float:left;margin-top:30px;}
}