.gb-table .taskmsg{width:100%;height:100%;padding:40px 40px 0px 40px;}
.gb-table .tkrange{width:100%;zoom:1;}
.gb-table .tkrange:after,.gb-table .tksearch:after,.gb-table .msgtype:after{content:'';display: block;height:0;clear: both;visibility: hidden;}
.gb-table .tklay{float:left;}
.gb-table .talay-word{color:#585d66;margin-right:16px;float:left;line-height:40px;}
.gb-table .talay-word i{font-size:13px;margin-right:8px;}
.gb-table .tklay .layui-input-inline{position:relative;margin-right:20px;float:left;}
.gb-table .tklay .layui-input{width:402px;height:40px;border-radius:5px;border:1px solid #d8d8d8;padding-left:20px;font-size:14px;color:#333;line-height:38px;box-shadow:0px -10px 10px #f4f4f4 inset;}

/* placeholder style start */
.gb-table .tklay .layui-input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color:#ccc;}
.gb-table .tklay .layui-input:-moz-placeholder, textarea:-moz-placeholder{color:#ccc;}
.gb-table .tklay .layui-input::-moz-placeholder, textarea::-moz-placeholder{color:#ccc;}
.gb-table .tklay .layui-input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#ccc;}
/* placeholder style end */

/* daterange start */
#layui-laydate1{margin-top:0;border-radius:5px;}
#layui-laydate1 .layui-this{background-color: #4579d8!important;}
#layui-laydate1 .layui-laydate-content td.laydate-selected{background-color:#93b6f5}
#layui-laydate1 .laydate-selected:hover{background-color:#93b6f5!important}
#layui-laydate1 .laydate-selected.laydate-day-next,#layui-laydate1  .laydate-selected.laydate-day-prev{background-color: #f8f8f8!important}
#layui-laydate1 .layui-laydate-content .laydate-day-next,#layui-laydate1 .layui-laydate-content .laydate-day-prev{color: #d2d2d2!important;}
#layui-laydate1 .laydate-footer-btns span{color:#7c8491;width:50px;border-radius:3px;text-align: center;margin-left:6px;}
#layui-laydate1 .laydate-disabled,#layui-laydate1 .laydate-disabled:hover{background:#4579d8!important;border-color:#4579d8;color:#fff!important;}
#layui-laydate1 .laydate-btns-confirm{background:#3c6dc7;color:#fff!important;border-color:#3c6dc7;}
/* daterange end */

.gb-table .tocho{text-align:center;width:24px;height:24px;display: inline-block;border:1px solid #d8d8d8;border-radius:3px;position:absolute;top:50%;margin-top:-12px;right:20px;cursor: pointer;box-shadow:0px -10px 10px #f4f4f4 inset;font-size:14px;color:#585d66;line-height:24px;}
.gb-table .newtk-btn{width:160px;height:40px;line-height:40px;color:#fff;font-size:14px;background:#4579d8;border-radius:5px;border:0;cursor: pointer;}
.gb-table .newtk-btn:hover{background:#3c6dc7;}
.gb-table .tksearch{float:right;zoom:1;border:1px solid #d8d8d8;border-radius:5px;overflow: hidden;}
.gb-table .tksearch input{float:left;width:390px;height:40px;line-height:40px;padding-left:20px;font-size:14px;color:#ccc;border:0;}
.gb-table .tksrh-btn{float:left;width:60px;height:40px;border-left:1px solid #d8d8d8;background:#fff;box-shadow:0px -20px 10px #f4f4f4 inset;padding:9px 20px;cursor: pointer;}
.gb-table .tksrh-btn i{font-size:18px;color:#585d66;}
.gb-table .tksrh-btn:hover i{color:#000;}
.gb-table .msgtype{width:100%;margin:26px 0px 13px 0px;zoom:1;float:left;}
.gb-table .msgtype li{float:left;width:62px;height:28px;border:1px solid #d8d8d8;border-radius:5px;text-align: center;line-height:26px;color:#585d66;cursor: pointer;margin-right:6px;font-size:12px;}
.gb-table .msgtype .msgact{border-color:#4579d8;color:#fff;background:#4579d8;}

/* table start */
.gb-table .layui-table-view{margin:0;border:1px solid #d8d8d8;border-radius:5px;}
/* .layui-table tbody tr:hover,  */.layui-table thead tr, .layui-table-click, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool, .layui-table[lay-even] tr:nth-child(even){background-color:#fff;box-shadow:0px -20px 10px #f4f4f4 inset;}
.layui-table td, .layui-table th, .layui-table-header{border:0;border-bottom:1px solid #d8d8d8;}
.layui-table-page{border:0;/* border-top:1px solid #d8d8d8; */background:#fff;}
.layui-table-fixed-r, .layui-table-tips-main, .layui-table-tool, .layui-table-view,.layui-table[lay-skin=row], .layui-table[lay-skin=line]{border:0;}
.gb-table .layui-table-page .layui-laypage a,.gb-table .layui-table-page .layui-laypage span{color:#7c8491;display:inline-block;width:28px;height:28px;border:1px solid #d8d8d8;border-radius:3px;text-align: center;margin-right:8px;line-height:28px;box-sizing:border-box;font-size:12px;}
.gb-table .layui-table-page .layui-laypage a i, .gb-table .layui-table-page .layui-laypage span i{font-size:12px;}
.gb-table .layui-table-page .layui-laypage input,.gb-table .layui-table-page .layui-laypage button{color:#585d66;height:100%;}
.gb-table .layui-table-page .layui-laypage a,.gb-table .layui-table-page .layui-laypage span.layui-laypage-curr{padding:0;}
.gb-table .layui-laypage .layui-laypage-curr .layui-laypage-em{background-color:#4579d8;}
.gb-table .layui-laypage span.layui-laypage-curr {border-color:#4579d8;}
.gb-table .layui-table-page .layui-laypage span.layui-laypage-skip{margin-left:5px;}
.gb-table .layui-table-page{height:60px;padding: 16px 7px 0;}
.gb-table .layui-table-page>div{height:28px;}
.gb-table th span{color:#7c8491;font-size:12px;}
.gb-table td span,div{color:#7c8491;}
.gb-table .layui-table-page .layui-laypage{float:right;}
.gb-table .layui-table-page .layui-laypage .layui-laypage-skip,.gb-table .layui-table-page .layui-laypage .layui-laypage-count,.gb-table .layui-table-page .layui-laypage .layui-laypage-limits{border:0;width:auto;}
.gb-table .layui-table-page .layui-laypage .layui-laypage-count,.gb-table .layui-table-page .layui-laypage .layui-laypage-limits{float:left;}
.gb-table .layui-table-body{background:#fff;}
.gb-table .layui-laypage input:focus,.gb-table .layui-laypage select:focus{border-color: #4579d8!important;}
.gb-table .layui-table-page select{padding:2px 3px;height:22px;color:#585d66;line-height:24px;margin-right:50px;}
.gb-table .layui-table-sort .layui-edge{border-width:3.5px;left:0px;}
.gb-table .layui-table-sort .layui-table-sort-asc{border-bottom-color:#7c8491;top:5.5px;}
.gb-table .layui-table-sort .layui-table-sort-desc{border-top-color:#7c8491;bottom:5.5px;}
.layui-table-sort[lay-sort=asc] .layui-table-sort-asc{border-bottom-color: #000;}
.layui-table-sort[lay-sort=desc] .layui-table-sort-desc{border-top-color: #000;}
.gb-table .layui-form-checkbox[lay-skin=primary]:hover i{border-color:#4579d8;}
.gb-table .layui-form-checkbox[lay-skin=primary] i{ -webkit-transition: 0s linear;transition: 0s linear;}
.gb-table .layui-form-checked[lay-skin=primary] i{border:4px solid #4579d8;background-color: #fff; -webkit-transition: 0s linear;transition: 0s linear;box-sizing:border-box;color:#4579d8;font-size:0px;}
.layui-table-tips-c{line-height:15px;font-size:12px;}
.gb-table th .laytable-cell-1-pubdep,.gb-table th .laytable-cell-1-sign{position:relative;overflow:visible;}
.gb-table th .laytable-cell-1-pubdep span,.gb-table th .laytable-cell-1-sign{cursor: default;}
.gb-table th .laytable-cell-1-pubdep span i,.gb-table th .laytable-cell-1-sign{font-size:12px;}
.gb-table .layui-table-view .layui-form-checkbox[lay-skin=primary] i{width:14px;height:14px;}
.thetab{position:relative;width:100%}
.scrlist{width:186px;position:absolute;top:37px;left:610px;background:#fff;border:1px solid #d8d8d8;border-radius:5px;z-index:1;overflow: hidden;box-shadow:0px 0px 20px #d8d8d8;display: none}
.scrlist li{color:#333;padding:0 20px;line-height:36px;font-size:12px;color:#7c8491;cursor: pointer;}
.scrlist li:hover{background:#4579d8;color:#fff;}
.scrlist li.scract{background:#4579d8;color:#fff;}

.gb-table .numb{min-width:20px;height:20px;padding:0 3px;display: inline-block;border:1px solid #d8d8d8;border-radius:3px;font-size:12px;line-height:18px;text-align: center;}
.layui-table-view .layui-table td{position:relative;}
td .layui-table-cell.laytable-cell-1-sernumb{width:auto;min-width:20px;height:20px;padding:0px 3px;display: inline-block;border:1px solid #d8d8d8;border-radius:3px;font-size:12px;line-height:18px;text-align: center;margin:0px 30px 0px 30px;}
.gb-table .operbtn ,.gb-table .editbtn ,.gb-table .issue ,.gb-table .check ,.gb-table .del {cursor: pointer;}
.gb-table .operbtn:hover,.gb-table .editbtn:hover,.gb-table .issue:hover,.gb-table .check:hover,.gb-table .del:hover{color:#4579d8;}
.gb-table .operbtn i,.gb-table .editbtn i,.gb-table .issue i,.gb-table .check i,.gb-table .del i{font-size:14px;margin-right:3px;}
.gb-table .isstop i,.gb-table .editbtn i,.gb-table .iscont i,.gb-table .decancel i{font-size:12px;}
.rankimg{display: inline-block;}
.rankimg img{display: block;}
/* table end */
.theche{position:absolute;left:20px;bottom:20px;zoom:1;margin-top:7px;}
.theche:after{content:'';display: block;height:0;clear: both;visibility: hidden;}
.tocheck{float:left;}
.tocheck input{display:none;opacity:0;}
.tocheck input[type=checkbox]+label {cursor:pointer;line-height: 1;position: relative;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex; -webkit-box-align: center; -webkit-align-items: center;-ms-flex-align: center; align-items: center; /* margin:2px; */font-size:12px;}
.tocheck input[type=checkbox]+label:before{line-height: 16px; display: inline-block;width: 14px;height: 14px; margin-right: 8px;content: '';color: #fff; border: 1px solid #d8d8d8;background-color: #fff;border-radius: 3px;}
.tocheck input[type=checkbox]:checked+label:before{content:'';color:#fff;border-radius: 3px;text-align: center;border:4px solid #4579d8;}
.chedel{float:left;font-size:12px;color:#7c8491;margin-left:30px;line-height:14px;cursor: pointer;}
.chedel i{font-size:14px;margin-right:6px;}
.chedel:hover{color:#4579d8;}

/* popwindow start */
.popwindow{width:100%;height:100%;position:fixed;top:0;left:0;background:#000;opacity:0.5;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";z-index: 1;display: none}
.preview,.review,.unreason,.fillin{width:518px;height:460px;position:absolute;top:50%;left:50%;margin-left:-259px;margin-top:-230px;background:#fff;z-index: 1;border:1px solid #d8d8d8;border-radius:5px;display: none}
.unreason{z-index: -1;display: block;}
.poptit{width:100%;height:43px;line-height:42px;border-bottom:1px solid #D8D8D8;box-shadow:0px -20px 15px #f4f4f4 inset;padding-left:19px;color:#585c65;}
.popclose{width:16px;height:16px;display: inline-block;color:#9aa3b2;cursor: pointer;position:absolute;top:12px;right:20px;}
.popclose:hover{color:#555;}
.prevcont,.uncont,.fillcnt{width:100%;padding:0px 20px 20px;zoom:1;}
.prevcont:after,.revbtn:after,.uncont:after{content:'';display: block;height:0;clear: both;visibility: hidden;}
.prevlist{width:100%;}
.prevlist li{width:100%;padding:20px 0px;border-bottom:1px dashed #e5e5e5;}
.prevword{height:57px;overflow: hidden;margin-bottom:10px;line-height:20px;}
.prevideo{display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-bottom:10px;}
.tosee{width:70px;height:24px;line-height:22px;border:1px solid #d8d8d8;color:#585d63;cursor: pointer;font-size:14px;box-shadow:0px -15px 15px #f4f4f4 inset;border-radius:3px;background:#fff;}
.tosee:hover{box-shadow:0px -15px 15px #ddd inset;}
.seeall{width:100px;height:30px;background:#4479d7;border-radius:4px;color:#fff;margin-top:45px;float:right;border:0;cursor: pointer;}
.seeall:hover{background:#3c6dc7;}
.review{height:212px;margin-top:-106px;}
.revcont{width:100%;height:167px;padding:20px;position:relative;}
.revbtn{position:absolute;bottom:20px;right:20px;zoom:1;}
.revno,.revyes,.rev-cancel,.un-confirm,.cho-delete,.cho-cancel{float:left;margin-left:8px;border:1px solid #d8d8d8;border-radius:3px;width:60px;height:30px;line-height:28px;cursor: pointer;background:#fff; color:#7e8490;letter-spacing: 4px;padding-left:4px;}
.revyes,.cho-delete{color:#fff;background:#4479d7;border-color:#4479d7;}
.revno:hover,.rev-cancel:hover,.cho-cancel:hover{background:#f7f7f7;}
.revyes:hover,.un-confirm:hover,.cho-delete:hover{background:#3c6dc7;}
.un-confirm{float:right;margin-top:80px;color:#fff;background:#4479d7;border-color:#4479d7;}
.uncont{padding-top:20px;}
.unword{line-height:24px;}
.fillin{height:356px;margin-top:-178px;}
.fillcnt{padding-top:20px;height:310px;position:relative;}
.choose{width:180px;height:80px;position:absolute;top:50%;left:50%;background:#fff;border:1px solid #d8d8d8;padding:15px 18px;zoom:1;border-radius:5px;}
.choose:after{content:'';display: block;height:0;clear: both;visibility: hidden;}
.choword{font-size:12px;}
.chobtn{float:right;margin-top:15px;}
.cho-delete,.cho-cancel{width:44px;height:22px;line-height:20px;font-size:12px;margin-left:6px;letter-spacing: 0;padding:0;}
.triangle{width:0;height:0;border-left:7px solid transparent;border-right:7px solid transparent;border-top:7px solid #d8d8d8;position:absolute;bottom:-7px;right:24px;}
.triangle em{width:0;height:0;border-left:6px solid transparent;border-right:6px solid transparent;border-top:6px solid #fff;position:absolute;bottom:1px;left:-6px;}
@media \0screen {
    .poptit ,.tosee{background: #f4f4f4;}
    .tosee:hover{background:#dfdfdf;}
}
/* popwindow end */

