/*æ ‘*/
.covarea-sel{width: 48%;float: left;}
.covarea-all{width: 48%;float: right;}
.gb-tree-box .systit{font-size: 12px;margin-bottom: 5px;display: block;}
.gb-tree-box .systit i{font-size: 12px;margin-right: 8px;}
.gb-tree-box{margin-top: 10px;}
.gb-tree{border: 1px solid #d8d8d8;border-radius: 5px;padding: 10px;}


.gb-tree .ztree li span.button.noline_clguose{background-position: 0px 0px;}